@using Client.Web.App_GlobalResources
@model Client.Web.Models.Controls.Footer.FooterModel

<div class="clearFixBorder">
</div>
<div class="footer">
    <div class="listContainers">
		<ul>
			@if(Model.IsMyAccountEnabled)
			{
				<li>
					<h3>
					
						<a href="@Model.HomeUrl">@Views.Home</a>
					
					</h3>
				</li>
			}
			@if(Model.IsCurrencyTypeEnabled)
			{
				<li>
					<h3>
					
						<a href="@Model.CurrencyTypeUrl">@Views.CurrencyType</a>
					
					</h3>
				</li>
			}
			@if(Model.IsTransactionEnabled)
			{
				<li>
					<h3>
						<a href="@Model.TransactionUrl">@Views.Transaction</a>
					</h3>
				</li>
			}
		</ul>
    </div>
	<div class="listContainers">
    </div>
</div>